@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <div class="container">

     <!-- Jumbotron -->
     <div class="jumbotron">
         <h1>Best Sinhala Songs Repository!</h1>
         <p class="lead">Search here for your favourite songs, Albums,artists.</p>
          <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div>
     </div>

     <!-- Example row of columns -->
     <div class="row">
         <div class="col-lg-4">
             <h2>Songs</h2>
             <p class="text-danger">We have updated latest songs with video. Please install required plugings.</p>
             <p>Latest songs from a variety of artists. </p>
             <p><a class="btn btn-primary" href="#" role="button">View Lists &raquo;</a></p>
         </div>
         <div class="col-lg-4">
             <h2>Artists</h2>
             <p>Pay tribute to our artists. </p>
             <p><a class="btn btn-primary" href="#" role="button">View Lists &raquo;</a></p>
         </div>
         <div class="col-lg-4">
             <h2>Albums</h2>
             <p>Look for the latest albums released.</p>
             <p><a class="btn btn-primary" href="#" role="button">View Lists &raquo;</a></p>
         </div>
     </div>

     <!-- Site footer -->
     <div class="footer">
         <p>&copy; RW</p>
     </div>

 </div>
<!-- /container -->


